/*content-marketing------------------------------------*/

.marketing p {
    color: #fff;
}

.marketing_container {
    /*background: rgba(255, 255, 255, 0.25);*/
    height: 100%;
    width: 100%;
    background-image: url(../imgs/section0_bg.jpg)
}

.marketings {
    padding-top: 10%;
    padding-left: 20%;
    height: 450px;
}

/*
#marketing_no1 {
    background-image: url(/imgs/1.jpg);
    background-repeat: no-repeat;
}

#marketing_no2 {
    background-image: url(/imgs/2.jpg);
    background-repeat: no-repeat;
}

#marketing_no3 {
    background-image: url(/imgs/3.jpg);
    background-repeat: no-repeat;
}

#marketing_no4 {
    background-image: url(/imgs/4.jpg);
    background-repeat: no-repeat;
}

#marketing_no5 {
    background-image: url(/imgs/5.jpg);
    background-repeat: no-repeat;
}

#marketing_no6 {
    background-image: url(/imgs/6.jpg);
    background-repeat: no-repeat;
}
*/

.marketing {
    height: 450px;
    overflow: hidden;
    /* div 박스 사이즈를 넘어간 값은 숨긴다*/
}

.marketing img {
    width: 100%;
    height: 450px;
    transition: transform .80s;
    -o-transition: transform .80s;
    -moz-transition: transform .80s;
    -webkit-transition: transform .80s;
}

.marketing:hover img {
    /* img 마우스 오버시*/
    cursor: pointer;

    transform: scale(1.1);
    /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);

    transition: transform .80s;
    -o-transition: transform .80s;
    -moz-transition: transform .80s;
    -webkit-transition: transform .80s;
    /* 마우스 오버시 이미지가 즉시 커지지않고 30.5 second 의 시간에 걸쳐 커진다 애니메이션 효과*/
}

.marketing_no1 {
    width: 50%;
    background-color: #fff;
    opacity: 0.9;
    position: absolute;
    display: block;
    height: 450px;
    z-index: 1;
}




.marketing-title {
    font-size: 60px;
    color: white;
}

.marketing-content {
    font-size: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
}

.marketing-btn_list {
    position: relative;
    background-color: transparent;
}

.marketing-btn_list > li {
    float: left;
    margin-left: 10px;
    font-size: 25px;
}

.marketing-btn_start {
    background-color: darksalmon;
    text-align: center;
    padding: 15px 50px 15px 50px;
    border-radius: 3px;
}

.marketing-btn_method {
    background-color: darkseagreen;
    text-align: center;
    padding: 15px 50px 15px 50px;
    border-radius: 3px;
}

.marketing-btn {
    margin-top: 70px;
}

#section0_1 .marketing {
    position: relative;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

#section0_1.moveUp .marketing {
    bottom: 0;
}

/*내려오는정도*/

#section0_1.moveDown .marketing {
    bottom: -50%;
}

/*올라갈 부분*/

#section0_1.active .marketing {
    bottom: 0;
}

/*위치하게될 부분*/

/*-------------footer---------------*/

.footer0 {
    width: 100%;
    padding: 40px 0;
    position: relative;
    background: #1c1c1c;
    text-align: center
}

.foot-menu {
    position: relative;
}

.foot-menu li {
    display: inline-block;
    margin-right: 45px
}

.foot-menu li:nth-last-child(1) {
    margin-right: 0
}

.foot-menu li a {
    color: #ffffff;
    font-size: 12px
}

.footer0 .social {
    position: relative;
    margin: 30px 0 0 0
}

.footer0 .social li {
    display: inline-block;
    margin-right: 35px
}

.footer0 .social li:nth-last-child(1) {
    margin-right: 0
}

.footer0 .copy {
    font-size: 12px;
    color: #797778;
    padding: 20px 0 0 0
}

.footer0 .copy p {
    margin: 10px 0 0 0
}
